.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 0 3%;
  background-color: var(--main-color);
}
.main-title {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 3rem;
  color: var(--text-color);
}
