.main__inner {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 calc(0.625rem * 4);
  background-color: var(--second-color);
}
.input {
  display: none;
}
.main__slider {
  width: calc(0.625rem * 80);
  display: grid;
  grid-template-areas:
    'slider slider'
    'caption control';
  gap: calc(0.625rem * 2);
}
.main__slider-control {
  width: calc(0.625rem * 10);
  grid-area: control;
  justify-self: end;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
.label {
  display: inline-block;
  cursor: pointer;
  width: 25%;
}
[class^='label-icon'] {
  width: calc(0.625rem * 1.5);
  height: calc(0.625rem * 1.5);
  margin: 0 auto;
  border: calc(0.625rem / 10) solid var(--dark-color);
  border-radius: 50%;
  cursor: pointer;
}
.label:hover > [class^='label-icon'] {
  background-color: var(--text-color-accent);
}
#slide1:checked ~ .main__slider-control .label-icon1,
#slide2:checked ~ .main__slider-control .label-icon2,
#slide3:checked ~ .main__slider-control .label-icon3,
#slide4:checked ~ .main__slider-control .label-icon4 {
  border: none;
  background-color: var(--dark-color);
}
.main__slider-caption {
  grid-area: caption;
  display: grid;
  grid-template-areas: 'allcaption';
  overflow: hidden;
  height: calc(0.625rem * 5);
}
.main__slider-caption span {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: calc(0.625rem * 2);
  color: var(--text-color);
  grid-area: allcaption;
  transform: translateX(-100%);
  transition: all ease-in-out 500ms;
}
#slide1:checked ~ .main__slider-caption .caption_slide1,
#slide2:checked ~ .main__slider-caption .caption_slide2,
#slide3:checked ~ .main__slider-caption .caption_slide3,
#slide4:checked ~ .main__slider-caption .caption_slide4 {
  transform: translateX(0);
}
.main__slider-container {
  grid-area: slider;
  overflow: hidden;
  height: calc(0.625rem * 45);
  width: 100%;
  border-radius: calc(0.625rem * 1);
  display: grid;
  grid-template-areas: 'slides';
}
[class^='slide'] {
  grid-area: slides;
  background: center / contain no-repeat;
  height: auto;
  transform: translateX(+100%);
  transition: all ease-in-out 500ms;
}
.slide1 {
  background-image: url('../../assets/images/stackoverflow.jpg');
}
.slide2 {
  background-image: url('../../assets/images/dvd.jpg');
}
.slide3 {
  background-image: url('../../assets/images/variable.jpg');
}
.slide4 {
  background-image: url('../../assets/images/clean-code.jpg');
}
#slide1:checked ~ .main__slider-container .slide1,
#slide2:checked ~ .main__slider-container .slide2,
#slide3:checked ~ .main__slider-container .slide3,
#slide4:checked ~ .main__slider-container .slide4 {
  transform: translateX(0);
}
@media (max-width: 1279px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .main__inner {
    padding: 0 calc(0.625rem * 2);
  }
  .main__slider {
    width: calc(0.625rem * 60);
  }
  .main__slider-container {
    height: calc(0.625rem * 33.8);
  }
}
@media (max-width: 575px) {
  .main__inner {
    padding: 0 calc(0.625rem * 1);
  }
  .main__slider {
    width: calc(0.625rem * 30);
    grid-template-areas:
      'slider'
      'control'
      'caption';
  }
  .main__slider-container {
    height: calc(0.625rem * 16.875);
  }
  .main__slider-caption_span {
    font-size: calc(0.625rem * 1.6);
  }
  .main__slider-control {
    justify-self: center;
  }
}
