:root {
  --main-color: #6f6e7a;
  --second-color: #746f80;
  --light-color: #eddad7;
  --dark-color: #1f1f27;
  --text-color: #312532;
  --text-color-accent: #abb356;
  --main-font: 'Ubuntu', sans-serif;
}
