/* imports-start */
@import 'normalize.css';
/* imports-end */

/* footer-sticky-bottom-start */
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
/* footer-sticky-bottom-end */

/* container-start */
.container {
  max-width: 50%;
  margin: 0 auto;
  padding: 0 3%;
}
@media screen and (max-width: 1279px) {
  .container {
    max-width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
/* container-end */

.wrapper {
  background: center repeat;
  background-image: url('assets/images/main-background.jpeg');
}
